@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lobster&display=swap");
body {
  margin: 0; }

#body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 80vh 80% 10vh;
  grid-template-areas: "header" "banner" "content" "footer"; }

.header {
  grid-area: header;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 45vw 55vw;
  grid-template-areas: "h1 nav";
  width: 100%; }
  .header__encabezado {
    grid-area: h1; }
    .header__encabezado a {
      color: white;
      text-decoration: none; }
  .header .nav {
    grid-area: nav;
    width: 100%; }
    .header .nav__ul {
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style: none; }
    .header .nav__li {
      display: inline-block;
      position: relative;
      height: 100%;
      width: 18%;
      text-align: center;
      margin-top: 17px; }
      .header .nav__li a {
        text-decoration: none;
        color: white;
        font-size: 17px; }
      .header .nav__li a:hover {
        color: #ccc; }

#banner {
  grid-area: banner; }
  #banner img {
    height: 70vh; }

.content {
  margin-top: 0;
  grid-area: content;
  width: 100%; }
  .content__info__img {
    width: 50%;
    height: 30%;
    margin-left: 10px;
    border-radius: 5%;
    animation-name: efectoImagen;
    animation-iteration-count: 15s;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s; }
  .content__info__h1 {
    color: white;
    font-family: cursive; }
  .content__aside b {
    color: #5367CD;
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive; }
  .content__aside b:hover {
    animation-duration: 4s;
    animation-name: aparecer; }
  .content__aside p {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%; }

.footer {
  background-color: black;
  width: 100%;
  top: 100%; }
  .footer__content {
    text-align: center;
    color: white; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes efectoImagen {
  0% {
    width: 180px; }
  25% {
    width: 300px; }
  50% {
    width: 210px;
    background-color: #264653ff; }
  75% {
    width: 300px; }
  100% {
    width: 150px;
    background-color: #2a9d8fff; } }
